@model BusinessLayer.Models.BookDTO.BookViewModel
@{
    ViewBag.Title = Model.BookName;
}
<h2> @Model.BookName</h2>


<div>
    <img width="300" height="500" src="@Model.BookPicPath" />
    <dl class="dl-horizontal">
        <dt>Название книги</dt>
        <dd>@Model.BookName</dd>

        <dt>Автор</dt>
        <dd>@Model.BookAuthor</dd>

        <dt>Издатель</dt>
        <dd>@Model.BookPublisher</dd>

        <dt>Жанр</dt>
        <dd>@Model.BookGenre</dd>

        <dt>Год выпуска</dt>
        <dd>@Model.BookYear</dd>

        <dt>Описание</dt>
        <dd>@Model.BookDescription</dd>

        <dt>Количество</dt>
        <dd>@Model.BookInStock</dd>

    </dl>

    <form asp-action="EditRole" method="get">
        <a asp-action="Order" asp-controller="Order" value="@Model.Id" name="bookId">Забронировать</a>
        <input asp-action="Order" asp-controller="Order" value="@Model.Id" name="bookId" type="submit"/>
        </form>
</div>
