@model BusinessLayer.Models.BookDTO.BookViewModel
@{
    ViewBag.Title = Model.BookName;
}
<h2> @Model.BookName</h2>

@if (User.IsInRole("Библиотекарь"))
{
    <a asp-action="EditBook" asp-controller="Book" asp-route-id="@Model.Id"> Изменить </a>

    <a asp-action="DeleteBook" asp-controller="Book" asp-route-id="@Model.Id"> Удалить </a>
}

<hr />

<div>

    <table class="table-borderless" width="100%">
        <tr style="width:auto;max-width:10%">
            <td rowspan="6" width="300"><img width="300" height="500" src="@Model.BookPicPath" /></td>
        </tr>
        <tr>
            <th style="padding-left:5%;background-color:aliceblue">Автор</th>
            <td style="background-color:aliceblue">@Model.BookAuthor</td>
        </tr>
        <tr align="left">
            <th style="padding-left:5%">Издатель</th>
            <td>@Model.BookPublisher</td>
        </tr>
        <tr align="left">
            <th style="padding-left:5%;background-color:aliceblue">Жанр</th>
            <td style="background-color:aliceblue">@Model.BookGenre</td>
        </tr>
        <tr align="left">
            <th style="padding-left:5%">Год выпуска</th>
            <td>@Model.BookYear</td>
        </tr>
        <tr align="left">
            <th style="padding-left:5%;background-color:aliceblue">Количество</th>
            <td style="background-color:aliceblue"> @Model.BookInStock</td>
        </tr>





    </table>

    <br />
    <div>
        <h4> Описание</h4>
        <p> @Model.BookDescription</p>
        <br />
    </div>

</div>
