@model IEnumerable<librarySP.Database.Entities.Book>

@if (User.IsInRole("Библиотекарь"))
{
    <a asp-action="CreateBook" asp-controller="Book"> Добавить книгу</a>
}

<table class="table">
    <tr><td>Название книги</td><td>Автор</td><td>В наличии</td></tr>
    @foreach (var item in Model)
    {
        <tr>

            <td><a asp-action="DetailsBook" asp-controller="Book" asp-route-id="@item.Id">@item.BookName </a></td>

            <td>@item.BookAuthor</td>

            <td>@item.BookInStock</td>




            @if (User.IsInRole("Библиотекарь"))
            {
                <td>
                    <a asp-action="EditBook" asp-controller="Book" asp-route-id="@item.Id"> Изменить </a>

                    <a asp-action="DeleteBook" asp-controller="Book" asp-route-id="@item.Id"> Удалить </a>
                </td>
            }

        </tr>
    }
</table>