@model IEnumerable<BusinessLayer.Models.BookDTO.BookViewModel>

    <form asp-controller="Book" asp-action="Index">
        <p style="width:100%">
            <input type="text" name="SearchString" style="width:90%">
            <input type="submit" value="Поиск" style="width:auto" />    
        </p>
    </form>
@if (User.IsInRole("Библиотекарь"))
{
    <a asp-action="CreateBook" asp-controller="Book"> Добавить книгу</a>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Название книги", "Index", new { boolSort = ViewBag.NameSort })
        </th>
        <th>
            @Html.ActionLink("Автор", "Index", new { boolSort = ViewBag.AuthorSort })
        </th>
        <th>В наличии</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>


            <td><a asp-action="DetailsBook" asp-controller="Book" asp-route-id="@item.Id">@item.BookName </a></td>

            <td>@item.BookAuthor</td>

            <td>@item.BookInStock</td>
            @if (User.IsInRole("Библиотекарь"))
            {
                <td>
                    <a asp-action="EditBook" asp-controller="Book" asp-route-id="@item.Id"> Изменить </a>

                    <a asp-action="DeleteBook" asp-controller="Book" asp-route-id="@item.Id"> Удалить </a>
                </td>
            }

        </tr>

    }
</table> 