@model IEnumerable<librarySP.Database.Entities.Book>
    <form asp-controller="Book" asp-action="Index">
        <p>
            <input type="search" name="SearchString">
            <select name="search" asp-items="@(Html.GetEnumSelectList(typeof(librarySP.Database.enums.SearchBooks)))"></select>
            <input type="submit" value="Поиск" />
        </p>
    </form>
@if (User.IsInRole("Библиотекарь"))
{
    <a asp-action="CreateBook" asp-controller="Book"> Добавить книгу</a>
}
<table class="table">
    <tr>
        <th>
            <a asp-action="Index" style="color:black" asp-route-sortOrder="@ViewData["NameSortParm"]">Название книги</a>
        </th>
        <th>
            <a asp-action="Index" style="color:black" asp-route-sortOrder="@ViewData["AuthorSortParm"]">Автор</a>
        </th>
        <th>В наличии</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>


            <td><a asp-action="DetailsBook" asp-controller="Book" asp-route-id="@item.Id">@item.BookName </a></td>

            <td>@item.BookAuthor</td>

            <td>@item.BookInStock</td>
            @if (User.IsInRole("Библиотекарь"))
            {
                <td>
                    <a asp-action="EditBook" asp-controller="Book" asp-route-id="@item.Id"> Изменить </a>

                    <a asp-action="DeleteBook" asp-controller="Book" asp-route-id="@item.Id"> Удалить </a>
                </td>
            }

        </tr>
    }
</table> 